html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  height:100px;
  width:100px;
  font-size:1.6em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
